:root {
	--system-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#svelte {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#the-beginners-gambit, #the-beginners-gambit-page {
	font-family: Poppins, var(--system-sans);
}

#pawn {
	display: inline;
	width: 12px;
	fill: #6610f2;
}

#the-beginners-gambit-page > #pawn {
	width:26px
}

@media (min-width: 1024px) {
	#pawn {
		width: 16px;
	}
}

#anime-corner-rankings, #anime-corner-rankings-page {
	font-family: var(--system-sans);
	text-decoration: underline;
	text-decoration-color: #f3667b;
}

#workability-icon, #workability-page > #workability-icon {
	display: inline;
	width: 48px;
	margin-right: 6px;
	fill: none
}

@media (min-width: 1024px) {
	#workability-icon  {
		width: 64px;
	}
}

#workability-text, #workability-page > #workability-text {
	font-weight: 500;
	text-decoration: underline;
	text-decoration-color: #57b894;
}

#workability-page > #workability-icon {
	width: 96px;
}